acmart.cls
IEEE_sample/*
*.gz
*.log
*.aux
*.cfg
*.glo
*.idx
*.toc
*.ilg
*.ind
*.out
*.upa
*.upb
*.lof
*.lot
*.bbl
*.blg
*.gls
*.cut
*.hd
*.dvi
*.ps
*.thm
*.tgz
*.zip
*.rpi
*.pdf
*.txss
IEEEexample.bib
.DS_Store
figures/.DS_Store
figures/~*
!figures/*.pdf
*.pdf